    .searchmenu{
        position: fixed;
        visibility: hidden;
        top: 60px;
        width:600px;
        box-shadow: 1px 1px 5px #888888;
        max-height: 500px;
        margin-left: 325px;
        background: white;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        overflow-y: auto;
    }

    .searchmenu-shrink{
        top: 45px;
        margin-left: 127px;
        width:432px;
    }

    .centerer {
        margin:auto;
        width:1400px;
        overflow: hidden;
    }

    .searchitem{
        margin-left: 10px;
        padding-top:10px;
    }

    .searchresult:hover{
        background: #6083ff;
        cursor: pointer;
        border-style: solid;
        border-left-color: red;
        border-left-width:5px;
    }

