    .navbar-second {
        position: fixed;
        width: 1225px;
        left: 2px;
        top: 65px;
        background: rgba(0, 0, 0, 0.98);
        -webkit-transition: all 0.5s;
        transition: all 0s;
    }

    .navbar-shrink-second {
       visibility: collapse;
    }

    .seperator{
        width: 100%;
        background: white;
        height:3px;
    }

    .menus{
        padding:5px;
        float: left;
        margin-left:10px;
        color: whitesmoke;
        cursor: pointer;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
    }
    
    .menus:hover{
        background: blue;
    }

    .searchmenu{
        visibility: visible;
        top: 105px;
        width:1000px;
        box-shadow: 1px 1px 5px #888888;
        height:400px;
        margin-left: 100px;
        background: white;
        position: fixed;
    }

