

<nav [ngClass]="['navbar', navbarShrink]" track-scroll (scrolled)="onScrolled($event)">
    <a href="#">
        <div [ngClass]="['button-cs', buttonCsShrink]" >Customer Service</div>
    </a>
    <a href="#">
        <div [ngClass]="['button-cs', buttonCsShrink]" >Tentang Qyubix</div>
    </a>
    <a href="#">
        <div [ngClass]="['button-cs', buttonCsShrink]" >Download App</div>
    </a>

    <a href="#">
        <div [ngClass]="['button-cs', buttonCsShrink]" >LOGIN</div>
    </a>
    <a href="#">
        <div [ngClass]="['button-cs', buttonCsShrink]" >LOGOUT</div>
    </a>


    <a href="#">
        <span [ngClass]="['list-view','material-icons', listViewShrink]" style="float: left">view_list</span>
    </a>
    <div [ngClass]="['space', spaceShrink]">.</div>
    <a href="#">
        <img [ngClass]="['ico-qyubix', icoQyubixShrink]" src="imagemanagement/logo.png">
    </a>
    <div [ngClass]="['space', spaceShrink]">.</div>
</nav>

